{% extends 'layouts/base.html' %}

{% block title %}
Dashboard de Cartera
{% endblock %}

{% block content %}

<!-- ========================================= -->
<!-- CONTENT HEADER -->
<!-- ========================================= -->

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-sm-6">

                <h1 class="fw-bold">

                    Dashboard de Cartera

                </h1>

                <p class="text-muted mb-0">

                    Monitoreo financiero y análisis de cartera

                </p>

            </div>
            <div class="col-sm-6 d-flex justify-content-end">
                <div class="card-body">
                    <form method="GET">
                        <div class="row">
                            <!-- AÑO -->
                            <div class="col-md-3">
                                <label class="form-label">
                                    Año
                                </label>
                                <select id="anioSelect" name="anio" class="form-select">
                                    {% for anio in anios %}
                                        <option value="{{ anio }}" {% if anio == selected_anio %} selected {% endif %} >{{ anio }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- MES -->
                            <div class="col-md-3">
                                <label class="form-label">Mes</label>
                                <select id="mesSelect" name="mes" class="form-select" >
                                    {% for mes in meses %}
                                        <option value="{{ mes }}" 
                                            {% if mes == selected_mes %} selected {% endif %} > {{ mes|upper }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========================================= -->
<!-- MAIN CONTENT -->
<!-- ========================================= -->

<section class="content">

    <div class="container-fluid">

        <!-- ========================================= -->
        <!-- FILA 1 -->
        <!-- KPIs PRINCIPALES -->
        <!-- ========================================= -->
        <div class="row g-4 mb-4">
            <div class="col-md-3">
                <div class="card card-outline card-primary">
                    <div class="card-body">
                        <div class="kpi-label">Cartera Total</div>
                        <div id="carteraTotal" class="kpi-value">$0</div>
                        <div class="kpi-sub">Cartera Vig. + Cartera Ven.</div>
                    </div>
                    <!-- /.card-body -->
                </div>
            <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-3">
                <div class="card card-outline card-success">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="kpi-label">Capital Vigente</div>
                        <div id="capitalvigente" class="kpi-value">$0</div>
                        <div id="subcapitalvigente" class="kpi-sub">% de la cartera total</div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-3">
            <div class="card card-outline card-warning">
                <div class="card-body">
                    <div class="kpi-label">Capital Vencido</div>
                    <div id="capitalvencido" class="kpi-value">$0</div>
                    <div id="subcapitalvencido" class="kpi-sub">% de la cartera total</div>
                </div>
            </div>
            <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-3">
                <div class="card card-outline card-danger">
                    <div class="card-body">
                        <div class="kpi-label">Índice de Morosidad</div>
                        <div id="morosidad" class="kpi-value">0</div>
                        <div class="kpi-sub">Cartera Ven. / Cartera total</div>
                    </div>
                </div>
            <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-success">
                        <i class="fas fa-check"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Vigentes</span>
                        <span id="creditos_vigentes" class="info-box-number"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-danger">
                        <i class="fas fa-exclamation"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Vencidos</span>
                        <span id="creditos_vencidos" class="info-box-number"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-warning">
                        <i class="fas fa-sync"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Reestructurados</span>
                        <span id="reestructurado" class="info-box-number"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-info">
                        <i class="fas fa-chart-line"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Crédito Promedio</span>
                        <span id="credito_promedio" class="info-box-number"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========================================= -->
        <!-- FILA 2 -->
        <!-- EVOLUCIÓN DE CARTERA -->
        <!-- ========================================= -->
        <div class="fin-section-title fin-fade-up fin-delay-1">Evolución de cartera</div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                            <h3 class="card-title">
                                Evolución Anual
                            </h3>
                        </div>
                    <div class="card-body">
                        <div id="carteraEvolutionChart" style="height: 200px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========================================= -->
        <!-- FILA 3 -->
        <!-- DISTRIBUCIÓN -->
        <!-- ========================================= -->
        <br>
        <div class="fin-section-title fin-fade-up fin-delay-1">Cartera por Sucursal</div>
        <div class="row">
            <!-- DONUT -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Cartera Vigente por Sucursal
                        </h3>
                    </div>
                    <div class="card-body">
                        <div
                            id="sucursalVigenteChart"
                            style="height: 250px;"
                        ></div>

                    </div>

                </div>

            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Cartera Vencida por Sucursal
                        </h3>
                    </div>
                    <div class="card-body">
                        <div
                            id="sucursalVencidoChart"
                            style="height: 250px;"
                        ></div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="fin-section-title fin-fade-up fin-delay-1">Calidad de Cartera</div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Créditos por clasificación
                        </h3>
                    </div>
                    <div class="card-body">
                        <div
                            id="clasificacion_statusChart"
                            style="height: 250px;"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Crétidos por Sucursal
                        </h3>
                    </div>
                    <div class="card-body">
                        <div
                            id="sucursalCountChart"
                            style="height: 250px;"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Distribución Días en Mora
                        </h3>
                    </div>
                    <div class="card-body">
                        <div id="carteraDonutChart" style="height:250px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========================================= -->
        <br>
        <div class="fin-section-title fin-fade-up fin-delay-1">Portafolio de Productos</div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Top Productos · Capital Vigente
                        </h3>
                    </div>
                    <div class="card-body">
                        <div
                            id="topProductosVigenteChart"
                            style="height: 250px;"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Productos de Crédito</h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover align-middle mb-0">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th class="text-end">Vigente</th>
                                    <th class="text-end">Vencida</th>
                                    <th class="text-end"># Créditos</th>
                                </tr>
                            </thead>
                            <tbody id="productosTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{{ url_for('static',filename='js/dashboard/cartera.js') }}"></script>
<script>
    window.chartLabels =
        {{ chart_labels | tojson }};

    window.chartSeries =
        {{ chart_series | tojson }};
</script>
{% endblock %}